*{
    margin:0;
    padding: 0;

}
body{
    background-color: rgb(219, 207, 207);
    padding: 20px;
}

#banner{
    font-size:x-large;
    margin: 10px;
    background-color: brown;
    color:white;
    border-radius: 10px;
    padding:20px;
}

#container{
    margin: 0 auto;
    text-align: center;
}

table{
    width:80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}

th{
    background-color: tomato;
    color: white;
    font-size: 20px;
    padding: 5px;
}