<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Demo</title>
</head>

<body>
    <h1>全球股市資訊</h1>  
    <p>目前時間:{{time}}</p>
    <hr>   
    <ul>
        <!-- html 迴圈指令 -->
        {% for stock in stocks %}
        <li>{{stock['分類']}} {{stock['指數']}}</li>
        <!-- <li>{{stock.分類}} {{stock.指數}}</li> -->
        {% endfor %}
    </ul>
</body>

</html>